.channel-list {
  background-color: rgb(30, 33, 36);
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.channel-item-avatar {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 18px;
  display: flex;
  color: #c3c4c5;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 10px 0px 10px;
  text-transform: capitalize;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
  background-color: rgb(46, 49, 54);
  -webkit-transition: border-radius 0.5s; /* Safari */
  transition: border-radius 0.5s;
}

.channel-tag {
  visibility: hidden;
  left: 70px;
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: rgb(114, 137, 218);
  font-size: 11px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  overflow-wrap: break-word;
  word-wrap: break-word;
 -ms-word-break: break-all;
 word-break: break-word;
}

.channel-item-avatar:hover > .channel-tag {
  background-color: rgb(114, 137, 218);
  visibility: visible;
}

.channel-item-avatar:hover {
  background-color: rgb(114, 137, 218);
  cursor: pointer;
  border-radius: 15px;
  -webkit-transition: background-color 0.5s; /* Safari */
  transition: background-color 0.5s;
  -webkit-transition: border-radius 0.5s; /* Safari */
  transition: border-radius 0.5s;
}

.new-channel {
  font-family: helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsla(0,0%,100%,.3);
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 0px 0px 0px;
  border: 1px dashed hsla(0,0%,100%,.3);
}

.new-channel:hover {
  color: hsla(0,0%,100%,.75);
  border: 1px dashed hsla(0,0%,100%,.75);
  cursor: pointer;
}

.new-channel-modal {
  width: 290px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.new-channel-header {
  font-family: 'Open Sans', sans-serif;
  color: rgb(114, 137, 218);
  font-weight: bolder;
  font-size: 20px;
}

.new-channel-form {
  font-family: 'Open Sans', sans-serif;
}

.new-channel-input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  color: black;
}

.new-channel-label {
  color: #87909c;
  font-size: 11px;
  font-weight: bold;
  width: 100%;
}

.new-channel-field {
  font-size: 16px;
  margin: 6px;
  border-bottom: 2px solid #7289da;
  color: rgb(54, 57, 62);
}

.new-channel-footer {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-channel-back {
  color: #7289da;
  margin-left: 20px;
  padding: 10px 10px 5px 10px;
}

.new-channel-back:hover {
  cursor: pointer;
  border-bottom: 2px solid #7289da;
}


.new-channel-create {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(114, 137, 218);
  border-radius: 5px;
  color: white;
}

.new-channel-create:hover {
  cursor: pointer;
  background-color: rgb(105, 126, 196);
}
