.direct-message-button {
  border-bottom: 1px solid rgb(75,77,79);
  padding-bottom: 10px;
}

.direct-message-avatar {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 18px;
  display: flex;
  color: #c3c4c5;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  text-transform: capitalize;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
  background-color: rgb(46, 49, 54);
  -webkit-transition: border-radius 0.5s; /* Safari */
  transition: border-radius 0.5s;

}

.direct-message-tag {
  visibility: hidden;
  left: 70px;
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: rgb(114, 137, 218);
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}

.direct-message-avatar:hover > .direct-message-tag {
  background-color: rgb(114, 137, 218);
  visibility: visible;
}

.direct-message-avatar:hover {
  background-color: rgb(114, 137, 218);
  cursor: pointer;
  border-radius: 15px;
  -webkit-transition: background-color 0.5s; /* Safari */
  transition: background-color 0.5s;
  -webkit-transition: border-radius 0.5s; /* Safari */
  transition: border-radius 0.5s;
}

.direct-message-sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.direct-message-item {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.direct-message-name {
  display: inline;
  padding: 8px 10px 8px 20px;
  pointer-events: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
 -ms-word-break: break-all;
 word-break: break-word;
}

.direct-message-name:hover {
  color: white;
  cursor: pointer;
}

.direct-message-add {
  display: inline;
  padding: 8px 20px 8px 10px;
  pointer-events: auto;
}

.direct-message-add:hover {
  color: white;
  cursor: pointer;
}

.direct-message-item:hover {
  background-color: rgb(40, 43, 48);
}

.add-user-modal {
  width: 290px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.add-user-list {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
  color: rgb(95, 114, 209);
  margin: 5px;
  padding: 10px;
  width: 70%;
  height: 150px;
}

.add-user-choice {
  font-size: 14px;
  padding: 5px;
}

.add-user-choice:hover {
  cursor: pointer;
  color: rgb(55, 74, 179);
  background: rgb(154, 157, 162);
  border-radius: 3px;
}
