body {
  overflow: hidden;
}

.channel {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.message-list {
  background-color: #36393e;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages-none {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: hsla(0,0%,100%,.3);
}

.messages-none-text {
  text-align: center;
}

.message-item {
  border-bottom: 1px solid #3e4146;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.message-avatar-col {
  height: 100%;
}

.message-avatar {
  display: flex;
  color: #c3c4c5;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
}

.message-avatar.first {
  background-color: rgb(114, 136, 217);
}

.message-avatar.second {
  background-color: rgb(67, 181, 129);
}

.message-avatar.third {
  background-color: rgb(254, 152, 52);
}

.message-avatar.fourth {
  background-color: rgb(233, 30, 99);
}

.message-avatar.fifth {
  background-color: rgb(246, 95, 243);
}

.message-avatar.sixth {
  background-color: rgb(52, 152, 219);
}

.message-avatar.seventh {
  background-color: rgb(3, 150, 1);
}

.message-avatar.eigth {
  background-color: rgb(155, 89, 182);
}

.message-avatar.ninth {
  background-color: rgb(199, 169, 91);
}

.message-avatar.tenth {
  background-color: rgb(240, 71, 71);
}

.message-username.first {
  color: rgb(114, 136, 217);
}

.message-username.second {
  color: rgb(67, 181, 129);
}

.message-username.third {
  color: rgb(254, 152, 52);
}

.message-username.fourth {
  color: rgb(233, 30, 99);
}

.message-username.fifth {
  color: rgb(246, 95, 243);
}

.message-username.sixth {
  color: rgb(52, 152, 219);
}

.message-username.seventh {
  color: rgb(3, 150, 1);
}

.message-username.eigth {
  color: rgb(155, 89, 182);
}

.message-username.ninth {
  color: rgb(199, 169, 91);
}

.message-username.tenth {
  color: rgb(240, 71, 71);
}


.message-username {
  display: flex;
  align-items: baseline;
  color: rgb(52, 152, 219);
  margin-top: 15px;
  font-size: 16px;
}

.message-timestamp {
  margin-left: 5px;
  color: hsla(0,0%,100%,.2);
  font-size: 12px;
}

.message-image {
  max-width: 500px;
  max-height: 500px;
  margin: 5px 0px 20px 0px;
}

.message-text {
  color: hsla(0,0%,100%,.7);
  font-size: 14px;
  margin: 5px 75px 20px 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
 -ms-word-break: break-all;
 word-break: break-word;
}

.message-form {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border-top: 1px solid #3e4146;
  background-color: #36393e;
  color: hsla(0,0%,100%,.7);
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

.message-image-button {
  width: 40px;
  height: 35px;
  margin: 7px;
}

.message-field {
  background-color: hsla(0,0%,100%,.06);
  width: 100%;
  margin: 20px 20px 20px 0px;
  padding: 10px;
  border: 2px solid hsla(0,0%,100%,.2);
}

.message-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: hsla(0,0%,100%,.2);
}
.message-field::-moz-placeholder { /* Firefox 19+ */
  color: hsla(0,0%,100%,.2);
}
.message-field:-ms-input-placeholder { /* IE 10+ */
  color: hsla(0,0%,100%,.2);
}
.message-field:-moz-placeholder { /* Firefox 18- */
  color: hsla(0,0%,100%,.2);
}
