.sub-channel-list {
  min-width: 240px;
  background-color: #2e3136;
  font-family: "Roboto", sans-serif;
  color: hsla(0,0%,100%,.7);
}

.sub-channel-list > .channel-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 18px 24px;
  box-shadow: 0 1px 0 #24272b, inset 0 -1px 0 rgba(0,0,0,.1);
  height: 34px;
}

.text-channels-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsla(0,0%,100%,.3);
}

.text-channels-line:hover {
  color: white;
  cursor: pointer;
}

.text-channels {
  font-size: 12px;
  margin: 28px 20px 10px 20px;
  white-space: nowrap;
}

.text-channels-button {
  font-size: 18px;
  margin: 28px 20px 10px 20px;
}

.sub-channel-item {
  padding: 8px 6px 10px 20px;
  font-size: 14px;
}

.sub-channel-item:hover {
  color: white;
  background-color: rgb(40, 43, 48);
  cursor: pointer;
}

.sub-channel-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  background-color: rgb(40, 43, 48);
  min-width: 240px;
  height: 85px;
  border-top: 1px solid rgba(0,0,0,.3);
}

.logout-avatar {
  margin: 10px;
}

.sub-channel-username {
  font-size: 14px;
}

.logout-button {
  padding: 5px;
  margin: 6px;
}

.logout-button:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(240, 71, 71);
  border-radius: 5px;
}
