.welcome {
  width: 100%;
  height: 100%
}

.welcome-header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #7581DC;
}

.welcome-logo-image {
  display: flex;
  background-image: url('https://res.cloudinary.com/dh6zremqy/image/upload/v1489640859/white_logo_kjepv5.png');
  transform: scale(.5, .5);
  top: 0;
  left: 0;
  width: 400px;
  height: 120px;
  border: 0px 0px;
}

.welcome-all-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  white-space: nowrap;
  display: inline;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 18px;
  height: 100%;
  line-height: 70px;

}

.welcome-button {
  padding: 0px 15px;
}

.welcome-button:hover {
  color: #7581DC;
  background-color: white;
}

.welcome-banner {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.welcome-banner-image {
  display: flex;
  background-image: url('https://res.cloudinary.com/dh6zremqy/image/upload/q_80/v1489641493/campfire-low_y5ohca.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: -10;
}

.welcome-banner-text {
  z-index: -5;
  position: absolute;
  text-align: center;
  color: lightgray;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  top: 23%;
  margin: 0px 0px;
  white-space: nowrap;
}

.welcome-tagline {
  margin: 0px;
  font-size: 18px;
}
